<ion-content>
  <!-- Header back -->
  <app-header-back></app-header-back>

  <div class="o-canvas">

    <header class="o-headline o-headline_big">
      <p class="o-kicker">Soporte</p>
      <h1 class="o-headline__title">Preguntas frecuentes</h1>
    </header>
    <section *ngFor="let question of frequentQuestions">  
      <h3 class="o-box-support__title">{{question.titulo}}</h3>
      <article class="o-box-support">
        {{question.pregunta}}
      </article>
    </section>
    <div class="">

      <button class="c-navigation-support__item o-dropdown js-dropdown is-dropdown-show"
        (click)="toggleDropdown($event)">
        <span class="c-navigation-support__ico i-support"></span>
        <span class="
            c-navigation-support__txt
            i-after-arrow-left i-after-arrow-left_right
          ">
          Soporte
        </span>
      </button>

      <nav class="c-navigation-support__submenu">
        <a class="c-navigation-support__submenu-link" [routerLink]="['/tabs/support/cashback']" routerLinkActive="is-active">
          ¿Que es el cashback?
        </a>
        <a class="c-navigation-support__submenu-link" [routerLink]="['/tabs/support/journal']" routerLinkActive="is-active">
          Horarios de atención
        </a>
        <a class="c-navigation-support__submenu-link" [routerLink]="['/tabs/support/question']" routerLinkActive="is-active">
          Preguntas frecuentes
        </a>
        <a class="c-navigation-support__submenu-link" (click)="download('https://surtilider.com/files/SURTILIDER%20POLITICA%20HABEAS%20DATA.pdf')">
          Tratamiento de datos personales
        </a>
      </nav>

    </div>

  </div>
</ion-content>