<article
  class="c-product"
>

  <div class="c-product__wrap">

    <!-- Image and title -->
    <figure class="c-product__figure" (click)="storageCategoryProduct(productObject)"
      [routerLink]="['/tabs/detail-product', productObject.codeProduct]"
    >

      <img
        src="{{ productObject.img_prod }}"
        alt=""
        class="c-product__img"
        *ngIf="productObject.img_prod != 'http://intranet.surtilider.com:9090/IntranetSurti/Temp/fotosApp/producto-sin-imagen.jpg';else productImageNull"
      >

      <!-- Only for products without image -->
      <ng-template #productImageNull>
        <img
          src="{{ productObject.img_prod }}"
          alt=""
          class="c-product__img c-product__img_null"
        >
      </ng-template>

      <figcaption class="c-product__title" *ngIf="productObject.nameProduct !== null">
        {{ productObject.nameProduct }}
      </figcaption>

    </figure>

    <!-- Value and discount -->
    <div>
      <span
        class="c-product__amount"

      >
        ${{ productObject.totalValue }}
      </span>

      <div
        class="c-product__ico c-product__ico_discount i-star"
        [ngClass]="{'test': !isDiscountProduct, '': isDiscountProduct}"
      >
        <span class="c-product__ico_discount-txt">{{ totalProductValue }}%</span>
        <span class="c-product__ico-txt">${{ totalProductDiscount }}</span>
      </div>

      <div [ngClass]="{'test': !isCashbackProduct, '': isCashbackProduct}" (click)="presentAlert()">

        <div
          class="c-product__ico c-product__ico_cash i-cash"
        >
          <span class="c-product__ico-txt">Recibe cashback</span>
        </div>
      </div>

    </div>

  </div>

  <!-- Add to favorite and Add to cart -->
  <footer>

    <!-- Button add to favorites -->
    <button
      class="c-product__favorite i-heart-outline"
      (click)="addProductToFavorite(productObject.codeProduct)"
      *ngIf="!isFavorite;else buttonAddFavorite"
    ></button>

    <ng-template #buttonAddFavorite>
      <button
        class="c-product__favorite i-heart-fill"
        (click)="removeProductToFavorite(productObject.codeProduct)"
      ></button>
    </ng-template>


    <button
      class="c-product__add i-plus"
      (click)="getProductData(productObject)"
    ></button>

  </footer>

</article>
