.o-form,
.o-form__fieldset {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.o-form {
  max-width: 320px;
  margin: 0 auto;
}

.o-form__field-wrap {
  position: relative;
  border-radius: 8px;
  border: 1px solid $c-gray-15;
  padding: 16px;
  background: $c-gray-10;
  box-shadow: 0 4px 11px rgb(0 0 0 / 9%);

  .is-field-error & {
    border-color: $c-secondary;
  }

  .c-security-code & {
    padding: 8px;
  }
}

.o-form__label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: $c-gray;
  cursor: pointer;
  transition: 300ms;

  .o-form__label-ico,
  &::before {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    margin-right: 16px;
    border: none;
    font-size: 18px;
    color: inherit;
    background-color: transparent;
    border-radius: 50%;
    transition: 300ms;
  }

  .is-field-error & {
    color: $c-secondary;
  }
}

.o-form__label-ico {
  cursor: pointer;
}

.o-form__input {
  width: 100%;
  height: 100%;
  border: none;
  font-family: $f-title;
  font-size: 16px;
  background-color: transparent;
  color: $c-gray;
  font-weight: $f-light;

  &:focus,
  &:focus-visible {
    color: $c-primary;
    outline: none;

    +.o-form__label {
      color: $c-primary;

      .o-form__label-ico,
      &::before {
        font-size: 16px;
        background-color: rgba($color: $c-primary, $alpha: 0.1);
      }
    }
  }

  .is-field-error & {
    color: $c-secondary;
  }
}

.o-form__error {
  display: none;
  margin: 8px 16px 0;
  font-size: 14px;
  color: $c-secondary;

  .is-field-error & {
    display: inline-block;
  }
}

.o-form__actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}
