<ion-content class="ion-padding">


  <section class="o-section">
      <app-header-back></app-header-back>
      <div class="container">


        <header class="o-headline ">
          <h1 class="o-headline__title">Actualizar Datos Personales</h1>
          
        </header>
        <p class="o-headline__text o-color-light">
          Actualiza tus credenciales de usuario para acceder a nuestra app.
        </p>

        <div class="form">
          <form class="o-form" [formGroup]="UpdateCredentialsForm">

            <div class="o-form__field">
              <div class="o-form__field-wrap">
                <input id="passCurrent" class="o-form__input" type="password" placeholder="Contraseña Actual"
                formControlName="passCurrent">
                <label for="passCurrent" class="o-form__label">
                  <button (click)="passwordChange($event)" class="o-form__label-ico i-eye"></button>
                </label>
              </div>
              <span class="o-form__error">{{ getError('passCurrent')}}</span>
            </div>
            <div class="o-form__field">
              <div class="o-form__field-wrap">
                <input id="PasswordNew" class="o-form__input" type="password" placeholder="Nueva Contraseña"
                formControlName="PasswordNew">
                <label for="PasswordNew" class="o-form__label">
                  <button (click)="passwordChange($event)" class="o-form__label-ico i-eye"></button>
                </label>
              </div>
              <span class="o-form__error">{{ getError('PasswordNew')}}</span>
            </div>
            
            <div class="o-form__field">
              <div class="o-form__field-wrap">
                <label for="validNewPassword" class="o-form__label i-eye"  (click)="togglePasswordMode()" ></label>
                <input 
                      #passwordEyeRegister  
                      [type]="passwordTypeInput"
                      id="validNewPassword" 
                      class="o-form__input" 
                      placeholder="Validar Nueva Contraseña"
                      formControlName="validNewPassword"

                >
                
              </div>
              <span class="o-form__error">{{ getError('validNewPassword')}}</span>
            </div>

            <footer class="o-form__actions">
              <button class="o-button"  (click)="ConfirmPassword()" [disabled]="!UpdateCredentialsForm.valid" >Guardar</button>
            </footer>  

          </form>
        </div>  

      



    <footer>
      <figure class="c-foot-back__brand o-logo">
        <img class="o-img" src="assets/image/Contrasena.png" alt="Entrega">
      </figure>
    </footer> 
  </div>

</section>

</ion-content>