<app-header></app-header>

<ion-tabs>

  <ion-tab-bar slot="bottom" style="border: none; background: #fff; contain: inherit;">

    <footer class="c-footer">
      <nav class="c-footer__navigation">
        <ion-tab-button class="c-footer__link i-menu" tab="sidebar-menu"></ion-tab-button>
        <ion-tab-button class="c-footer__link i-home" tab="home"></ion-tab-button>
        <ion-tab-button class="c-footer__link i-percent" tab="offert"></ion-tab-button>
      </nav>
    </footer>

  </ion-tab-bar>

</ion-tabs>