<footer class="c-footer">
  <nav class="c-footer__navigation">
    <a 
      [routerLink]="['/sidebar-menu']"
      routerLinkActive="is-menu-active"
      class="c-footer__link i-menu"
    >
      <span class="c-footer__link-bg"></span>
    </a>
    <a 
      [routerLink]="['/home']"
      routerLinkActive="is-menu-active"
      class="c-footer__link i-home"
    >
      <span class="c-footer__link-bg"></span>
    </a>
    <a 
      [routerLink]="['/offert']"
      routerLinkActive="is-menu-active"
      class="c-footer__link i-percent"
    >
      <span class="c-footer__link-bg"></span>
    </a>
  </nav>
</footer>
