$font-size-base: 16px;

$f-title: 'Open Sans', sans-serif;

$f-default: 'Abel', sans-serif;

$f-thin: 100;

$f-light: 300;

$f-regular: 400;

$f-medium: 500;

$f-semibold: 600;

$f-bold: 700;

$f-italic: italic;
