$c-neutro: #fff;

$c-success: #57D78F;

$c-primary: #013D7E;

$c-secondary: #FF0000;

$c-text: #292A2E;

$c-gray: #B1B1B1;

$c-gray-disabled: #B0B0B0;

$c-gray-disabled-10: #E9E9E9;

$c-gray-10: #FAFAFA;

$c-gray-15: #F2F2F2;

$c-gray-20: #F4F4F4;

$c-gray-25: #CFCFCF;

$c-gray-30: #636363;

$c-info: #5199F0;
