$font-family-ico: "surtilider-app" !default;


$i-mail: "\e900";
$i-minor: "\e901";
$i-support: "\e902";
$i-cash: "\e903";
$i-check: "\e904";
$i-error: "\e91b";
$i-list-check: "\e905";
$i-credential: "\e906";
$i-pin: "\e907";
$i-send: "\e908";
$i-schedule: "\e909";
$i-phone: "\e90a";
$i-clock: "\e90b";
$i-calendar: "\e90c";
$i-percent: "\e90d";
$i-plus: "\e90e";
$i-heart-outline: "\e90f";
$i-arrow-left: "\e910";
$i-car: "\e911";
$i-eye-lock: "\e912";
$i-eye: "\e913";
$i-heart-fill: "\e914";
$i-home: "\e915";
$i-menu: "\e916";
$i-search: "\e917";
$i-star: "\e918";
$i-shutdown: "\e91a";
$i-user: "\e919";
$i-pencil: "\e91c";
$i-trash: "\e91d";