<ion-content [fullscreen]="true">

  <section class="o-section">
    <div class="o-canvas">

      <div class="c-welcome">

        <!-- Logo Surtilider -->
        <figure class="o-logo">
          <img class="o-img" src="assets/image/logo_color.svg" alt="Logo a color de Surtilider SAS">
        </figure>

        <!-- Car image -->
        <figure class="c-welcome_figure">
          <img class="o-img" src="assets/image/car.png" alt="Carro repartidos de Surtilider SAS">
        </figure>

        <!-- Welcome header -->
        <header class="o-headline u-text-align-center">
          <h1 class="o-headline__title">¡Surtimos con Liderazgo!</h1>
          <p class="o-headline__text o-color-light u-margin-bottom-16">
            Somos la comercializadora de productos masivos aliada de su negocio.
          </p>
          <p class="o-text o-text-fs-12">
            <strong>Versión {{ currentNumberVersion }}</strong>
          </p>
        </header>

        <footer *ngIf="currentVersion" class="c-welcome__actions">

          <button class="o-button" (click)="validateNetwork($event)" data-href="login">
            Iniciar sesión con tu usuario
          </button>

          <p class="c-welcome__separator o-color-light">
            <span class="c-welcome__separator-txt">ó también puedes</span>
          </p>

          <button class="o-button o-button_secondary" (click)="validateNetwork($event)" data-href="register">
            Crear una cuenta
          </button>

          <button class="o-button o-button_outline" (click)="validateNetwork(null)" data-href="home">
            Continuar sin usuario
          </button>

        </footer>

      </div>

    </div>
  </section>

</ion-content>