<!-- Header component -->
<!-- <app-header></app-header> -->

<ion-content>

  <div class="o-canvas">

    <figure class="u-margin-bottom-16 u-margin-top-80">
      <img
        src="https://intranet.surtilider.com:9001/IntranetSurti/Temp/fotosApp/banner/{{ banner.imagen }}"
        class="c-banner__img o-img">
    </figure>

    <header class="o-headline">
      <h1 class="o-title">Productos Relacionados</h1>
    </header>

    <div class="c-product-wrap">

      <!-- Product component -->
      <app-banner-product></app-banner-product>
    

    </div>

  </div>

</ion-content>
