<ion-content>

  <!-- Header back -->
  <app-header-back></app-header-back>

  <div class="o-canvas">

    <header class="o-headline o-headline_big">
      <h1 class="o-headline__title">Historico de pedidos</h1>
      <p class="o-headline__text">Aquí encuentras el listado de tus pedidos con el respectivo número de seguimiento.</p>
    </header>

    <div *ngIf="!loaded">
      <ion-skeleton-text [animated]="true" style="width: 100%; height: 24px"></ion-skeleton-text>

      <!-- Personal information -->
      <div class="o-information">

        <ion-skeleton-text [animated]="true" style="width: 100%; height: 20px"></ion-skeleton-text>

        <div class="o-information__form">

          <ion-skeleton-text [animated]="true" style="width: 100%; height: 20px"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" style="width: 100%; height: 20px"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" style="width: 100%; height: 20px"></ion-skeleton-text>

          <ion-skeleton-text [animated]="true" style="width: 100%; height: 20px"></ion-skeleton-text>

        </div>

      </div>
      <ion-skeleton-text [animated]="true" style="width: 100%; height: 24px"></ion-skeleton-text>

      <!-- Personal information -->
      <div class="o-information">

        <ion-skeleton-text [animated]="true" style="width: 100%; height: 20px"></ion-skeleton-text>

        <div class="o-information__form">

          <ion-skeleton-text [animated]="true" style="width: 100%; height: 20px"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" style="width: 100%; height: 20px"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" style="width: 100%; height: 20px"></ion-skeleton-text>

          <ion-skeleton-text [animated]="true" style="width: 100%; height: 20px"></ion-skeleton-text>

        </div>

      </div>
      <ion-skeleton-text [animated]="true" style="width: 100%; height: 24px"></ion-skeleton-text>

      <!-- Personal information -->
      <div class="o-information">

        <ion-skeleton-text [animated]="true" style="width: 100%; height: 20px"></ion-skeleton-text>

        <div class="o-information__form">

          <ion-skeleton-text [animated]="true" style="width: 100%; height: 20px"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" style="width: 100%; height: 20px"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" style="width: 100%; height: 20px"></ion-skeleton-text>

          <ion-skeleton-text [animated]="true" style="width: 100%; height: 20px"></ion-skeleton-text>

        </div>

      </div>

    </div>

    <div *ngIf="loaded">
      <div *ngFor="let typeOrder of arrayDataOrders">

          <h2 class="o-headline__title">REALIZADO EN {{ typeOrder.orderType }}</h2>

          <!-- Personal information -->
          <div class="o-information" *ngFor="let order of typeOrder.order">

            <h2 class="o-information__title">Número factura: <span class="o-information__kicker">#{{ order.numped_b }}</span></h2>

            <div class="o-information__form">

              <label class="o-information__input">Fecha emición: <strong>{{ order.fecha }}</strong></label>
              <label class="o-information__input">Total de la compra: <strong>{{ order.valped_b }}</strong></label>
              <label class="o-information__input">Número de productos: <strong>{{ order.productos }}</strong></label>

              <a
                class="o-link o-link_secondary"
                [routerLink]="['/tabs/order-detail/', order.idpedido]"
              >
                VER DETALLES
              </a>

            </div>

          </div>

      </div>
    </div>

  </div>

</ion-content>