<ion-content class="o-background-bottom" style="background-image: url('/assets/image/bg_bottom_login.png');">

  <!-- Header back -->
  <app-header-back></app-header-back>

  <section class="o-section">
    <div class="o-canvas">

      <!-- Welcome header -->
      <header class="o-headline u-text-align-center">
        <h1 class="o-headline__title">Recuperar contraseña</h1>
        <p class="o-headline__text o-color-light">
          Enviaremos un código de confirmación a tu correo electronico.
        </p>
      </header>

      <form class="o-form" [formGroup]="validateCredentialForm">

        <!-- Credential STEP -->
        <fieldset class="o-form__fieldset" [ngClass]="{'test': stepOne, '': !stepOne}">

          <!-- Input credential -->
          <div class="o-form__field">
            <div class="o-form__field-wrap">
              <input id="credential" class="o-form__input" type="number" placeholder="Identificación"
                formControlName="credential">
              <label for="credential" class="o-form__label i-credential"></label>
            </div>
            <span class="o-form__error">{{ getError('credential')}}</span>
          </div>

          <footer class="o-form__actions">
            <button class="o-button" (click)="validateUserCredential()">Enviar código</button>
          </footer>

        </fieldset>

        <!-- Code and email STEP -->
        <fieldset class="o-form__fieldset" [ngClass]="{'': stepOne, 'test': !stepOne}">

          <!-- Input email -->
          <div class="o-form__field">
            <div class="o-form__field-wrap">
              <input id="email" class="o-form__input" type="email" placeholder="Correo electronico"
                formControlName="email" [ngModel]="emailString" disabled>
              <label for="email" class="o-form__label i-credential"></label>
            </div>
            <span class="o-form__error">{{ getError('email')}}</span>
          </div>

          <!-- Security code -->
          <div class="o-form__field">
            <app-security-code></app-security-code>
          </div>

          <footer class="o-form__actions">
            <button class="o-button" (click)="validateSecurityCode()" [ngClass]="{'test-disabled': !isTimerStop}">
              Validar código
            </button>
          </footer>

        </fieldset>

      </form>

    </div>
  </section>

</ion-content>