<!-- Header component -->
<!-- <app-header></app-header> -->

<ion-content>

  <div class="o-canvas">

    <div class="o-cashback-bigger">
      <header class="o-cashback-bigger__header i-cash">
        <div>
          <h3 class="o-cashback-bigger__title">Beneficios Cashback</h3>
          <p class="o-cashback-bigger__text">Conoce y empieza a disfrutar los beneficios de comprar con nosotros.</p>
        </div>
      </header>
    </div>

    <h1 class="o-title">Ofertas Exclusivas </h1>

  </div>

  <app-grid-product></app-grid-product>

</ion-content>
