<ion-content>

  <div class="c-banner-wrap">
    <app-banner></app-banner>
  </div>

  <!-- Marcas component -->
  <app-marcas></app-marcas>

  <!-- Category component -->
  <app-category></app-category>

  <!-- Product list compontent -->
  <section class="o-section o-section_mb0" *ngIf="loaded">
    <div class="o-canvas">
  
      <!-- Header component -->
      <header class="o-subheadline o-subheadline_mb0">
        <h2 class="o-title">Productos recomendados</h2>
      </header>
  
      <ion-slides class="c-product-slide" [options]="slideOpts">
        <ion-slide class="c-product-slides" *ngFor="let product of arrayDataProducts">
  
          <!-- Product component -->
          <app-product [productObject]="product"></app-product>
  
        </ion-slide>
      </ion-slides>
  
    </div>
  </section>
  
  <section class="o-section o-section_mb0" *ngIf="!loaded">
    <div class="o-canvas">
  
      <!-- Header component -->
      <header class="o-subheadline o-subheadline_mb0">
        <ion-skeleton-text [animated]="true" style="width: 100%; height: 40px"></ion-skeleton-text>
      </header>
  
      <ion-skeleton-text [animated]="true" style="width: 100%; height: 150px"></ion-skeleton-text>
  
    </div>
  </section>

</ion-content>

<div class="c-product-alert js-alert-address">
  <div class="c-product-alert__wrap">

    <div class="c-product-alert__header">
      <h1 class="c-product-alert__title i-send">Confirmar Dirección de entrega</h1>
    </div>

    <form action="" class="c-alert__form">
      <div *ngFor="let address of listAddress" class="c-alert__form-input">
        <input id="{{ address.codcli_b }}" name="address" type="radio" value="{{ address.codcli_b }}">
        <label for="{{ address.codcli_b }}">
          <div class="box">
            <span>{{ address.dircli_b }}</span>
            <span>{{ address.telcli_b }}</span>
          </div>
        </label>
      </div>

      <button
        *ngIf="buttonConfirmAddres js-address-btn"
        (click)="changeAddressCode($event)"
        class="o-button o-button_alert"
        tye="button"
      >
        Confirmar
      </button>
    </form>

  </div>
</div>
