<ion-content class="o-background-bottom" style="background-image: url('/assets/image/bg_bottom_login.png');">

  <!-- Header back -->
  <app-header-back></app-header-back>

  <section class="o-section">
    <div class="o-canvas">

      <!-- Welcome header -->
      <header class="o-headline u-text-align-center">
        <h1 class="o-headline__title">Actualizar contraseña</h1>
        <p class="o-headline__text o-color-light">
          Ingresa tu nueva contraseña
        </p>
      </header>

      <form class="o-form" [formGroup]="updatedPasswordForm">

        <div class="o-form__field">
          <div class="o-form__field-wrap">
            <input id="passwordNew" class="o-form__input" type="password" placeholder="Contraseña nueva"
              formControlName="passwordNew">
            <label for="passwordNew" class="o-form__label">
              <button (click)="passwordChange($event)" class="o-form__label-ico i-eye"></button>
            </label>
          </div>
          <span class="o-form__error">{{ getError('passwordNew') }}</span>
        </div>

        <div class="o-form__field">
          <div class="o-form__field-wrap">
            <input id="passwordConfirm" class="o-form__input" type="password" placeholder="Confirmar contraseña"
              formControlName="passwordConfirm">
            <label for="passwordConfirm" class="o-form__label">
              <button (click)="passwordChange($event)" class="o-form__label-ico i-eye"></button>
            </label>
          </div>
          <span class="o-form__error">{{ getError('passwordConfirm') }}</span>
        </div>

        <footer class="o-form__actions">
          <button class="o-button" (click)="updatePassword()" [disabled]="updatedPasswordForm.invalid">Actualizar contraseña</button>
        </footer>

      </form>

    </div>
  </section>

</ion-content>
